<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1>Окно для редактирования свойств книги</h1>
<form th:method="Patch" th:action="@{/books/{id}(id=${book.getId_book()})}" th:object="${book}">
    <label for="name">Измени название книги:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: darkred" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>
    <label for="author">Измени автора:</label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: darkred" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    <br/>
    <label for="year">Измени год книги:</label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color: darkred" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
    <br/>
    <input type="submit" value="Обновить">
</form>
<br/>
<button>
    <a href="/books">Отмена</a>
</button>
<footer>
    <p>&copy; 2023 OnlineLibrary</p>
</footer>
</body>
</html>