<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<form th:method="Patch" th:action="@{/people/{id}(id=${person.getId_person()})}" th:object="${person}">
    <label for="fio">Измени ФИО читателя:</label>
    <input type="text" th:field="*{fio}" id="fio"/>
    <div style="color: darkred" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}"></div>
    <br/>
    <label for="year">Измени год рождения:</label>
    <input type="text" th:field="*{year}" id="year"/>
    <div style="color: darkred" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
    <br/>
    <input type="submit" value="Обновить">
</form>
<br/>
<button>
    <a href="/people">Отмена</a>
</button>
<footer>
    <p>&copy; 2023 OnlineLibrary</p>
</footer>
</body>
</html>